$base: #dff2ff;
$accent: #ffc3d8;
$text: #dd5b9c;
$deep: #5195fe;

$bgblack: #2c3049;
$txblack: #3d4054;
$pink: #dd5b9c;
$white: #e8f2f5;
$grey: #9b9dbb;
$palegrey: #d6dae5;

.txwhite {
  color: $white;
}
.txgrey {
  color: $grey;
}
.txpalegrey {
  color: $palegrey;
}
.txpink {
  color: $pink;
}
.txblack{
  color: $txblack;
}

.bold {
  font-weight: bold;
}

.bgwhite {
  background-color: $white;
}
.bggrey {
  background-color: $grey;
}
.bgpalegrey {
  background-color: $palegrey;
}
.bgpink {
  background-color: $pink;
}
.bgblack {
  background-color: $bgblack;
}

.tsgrey {
  text-shadow: 0px 0px 20px #9b9dbb88;
}
.tspink {
  text-shadow: 0px 0px 20px #dd5b9c88;
}
.bsgrey {
  box-shadow: 0px 0px 20px #9b9dbb88;
}
.bspink {
  box-shadow: 0px 0px 20px #dd5b9c88;
}