$base: #dff2ff;
$accent: #ffc3d8;
$text: #dd5b9c;
$deep: #5195fe;

$bgblack: #2c3049;
$txblack: #3d4054;
$pink: #dd5b9c;
$white: #e8f2f5;
$grey: #9b9dbb;
$palegrey: #d6dae5;

@media (prefers-color-scheme: dark) {
  $bgblack: #2c3049;
  $txblack: #e8f2f5;
  $pink: #dd5b9c;
  $white: #3d4054;
  $grey: #d6dae5;
  $palegrey: #9b9dbb;
}

.txwhite {
  color: $white;
}
.txgrey {
  color: $grey;
}
.txpalegrey {
  color: $palegrey;
}
.txpink {
  color: $pink;
}
.txblack{
  color: $txblack;
}

.bold {
  font-weight: bold;
}

.bgwhite {
  background-color: $white;
}
.bggrey {
  background-color: $grey;
}
.bgpalegrey {
  background-color: $palegrey;
}
.bgpink {
  background-color: $pink;
}
.bgblack {
  background-color: $bgblack;
}
